* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Geneva, Tahoma, sans-serif;
    background-color: rgba(248, 212, 140, 0.292);
}

header {
    text-align: center;
}

header h1 {
    font-weight: 400;
    font-style: italic;
    border-color: antiquewhite;
    margin-top: 10px;
}


main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
}

main div {
    min-height: 260px;
    border-radius: 5px;
    width: 70%;
    background-color: grey;
    margin: 1rem;
    padding: 1rem;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main div h2 {
    font-size: 1em;
}
main div h3 {
    font-size: .7em;
}
main div a {
    color: grey;
}

main div img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

footer {
    position: fixed;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    background:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: ease-out .3s;
    border-top:1px solid rgb(29, 90, 90);
}

.fade-out {
    animation: fade 1.1s;
}

@keyframes fade {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }

.fa-brands {
    font-size: 1.23em;
    color: rgb(29, 90, 90);
}

@media (min-width: 700px) {
    main div {
        flex-direction: row;
        min-height: 400px;
        flex-wrap: wrap;
    }
    main div h2 {
        font-size: 1.5em;
        width: 100%;
    }
}