@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

:root {
    font-family: Inter, Avenir, "Fira Mono", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --color-black: #172b4d;
    --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    --shadow-2: 0 1px 2px rgba(8, 163, 198, 0.1), 0 4px 12px rgba(10, 167, 219, 0.1);
    --shadow-3: 0 1px 2px rgba(255, 255, 255, 0.1), 0 4px 12px rgba(255, 255, 255, 0.2);
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
}

h1 {
    font-size: 1.8em;
    line-height: 1.1;
}

header .icon {
    height: 3rem;
    fill: var(--color-black) !important;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-rows:
        auto
        1fr
        auto;
}

header {
    display: flex;
    align-items: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
