@import url("./header.css");
@import url("./footer.css");
@import url("./canvas.css");
@import url("./projects.css");
@import url("./info.css");
@import url("./form.css");
:root {
    --dark-black: #101111;
    --qwik-light-blue: #18b6f6;
    --qwik-light-purple: #ac7ff4;
    --qwik-dark-purple: #713fc2;
    --qwik-dirty-black: #1d2033;
    --qwik-dark-background: #151934;
    --dark-text: #e0d4d4;
}

html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: "Arial", ui-sans-serif, system-ui, -apple-system;
}

body {
    padding: 0;
    margin: 0;
    line-height: inherit;
    display: grid;
    grid-template-rows:
        auto
        1fr 10%;
    height: 100dvh;
    background: var(--dark-black);
    color: var(--dark-text);
}

.canvas-div {
    width: 600px;
    display: flex;
    align-items: center;
}

.section {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 750px) {
    .section {
        align-items: center;
        flex-direction: column-reverse;
    }
    .canvas-div {
        max-width: 600px;
        width: auto;
        /*  margin: auto; */
        margin: 1rem auto;
    }
}
